<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="social-nav">
        <ul>
          <li>
            <a href='https://www.linkedin.com/in/richtillis/' target="_blank" rel="noopener" aria-label="(opens in new window) link to the LinkedIn richtillis site">
              <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </a>
          </li>
          <li>
            <a href='mailto:rich@richtillis.com' target="_blank" rel="noopener" aria-label="(opens in new window) link to email rich@richtillis.com">
              <fa-icon [icon]="['fas', 'at']"></fa-icon>
            </a>
          </li>
          <li>
            <a href='https://github.com/richtillis/' target="_blank" rel="noopener" aria-label="(opens in new window) link to the richtillis github account">
              <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </a>
          </li>
          <li>
            <a href='https://twitter.com/RichTillis' target="_blank" rel="noopener" aria-label="(opens in new window) link to the richtillis twitter account">
              <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>
          </li>
          <li>
            <a href='https://www.stackoverflow.com/users/4577397/richtillis/' target="_blank" rel="noopener" aria-label="(opens in new window) link to the richtillis stack overflow account">
              <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
            </a>
          </li>
          <!-- <li *ngFor="let socialLink of socialLinks">
            <a [href]="socialLink.href" target="_blank" class="icon">
              <fa-icon [icon]="socialLink.icon"></fa-icon>
              <span [class]="socialLink.icon"></span>
            </a>
          </li> -->
        </ul>
      </div>
      <div class="copyright">
        <h5>Copyright &#169; 2021 Rich Tillis</h5>
      </div>
    </div>
  </div>
</footer>
