<header>
  <div class="header-container">
    <a href="/home"><img src="../../assets/images/logo-white.svg" class="logo"></a>

    <nav>
      <div class="hamburger-menu-container" (click)="toggleHamburgerMenu();" [ngClass]="{change: menuOpen}">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <div class="nav-items" [ngClass]="{'close-menu': !menuOpen}">
        <div class="site-nav">
          <ul>            
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About Me</a></li>
          </ul>
        </div>
        <div class="social-nav">
          <ul>
            <li>
              <a href='https://www.linkedin.com/in/richtillis/' target="_blank">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
              </a>
            </li>
            <li>
              <a href='mailto:rich@richtillis.com' target="_blank">
                <fa-icon [icon]="['fas', 'at']"></fa-icon>
              </a>
            </li>
            <li>
              <a href='https://github.com/richtillis/' target="_blank">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
              </a>
            </li>
            <li>
              <a href='https://github.com/richtillis/' target="_blank">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
              </a>
            </li>
            <li>
              <a href='https://www.stackoverflow.com/users/4577397/richtillis/' target="_blank">
                <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
              </a>
            </li>
            <!-- <li *ngFor="let socialLink of socialLinks">
              <a [href]="socialLink.href" target="_blank" class="icon">
                <fa-icon [icon]="socialLink.icon"></fa-icon>
                <span [class]="socialLink.icon"></span>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
