<nav class="navbar">
  <div class="nav-container">
    <span class="ellipsis-social">
      <i class="fa fa-ellipsis-v"></i>
    </span>
    <div class="nav-logo">
      <a href="#"><img src="../../assets/images/logo.svg" class="logo"></a>
    </div>
    <input id="hamburger" class="hamburger" type="checkbox" />
    <label class="hamburger" for="hamburger">
      <i></i>
    </label>
    <section class="drawer-list">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Side Projects</a></li>
        <li><a href="/about">About Me</a></li>
        <li class="test">
          <a href="https://www.linkedin.com/in/richtillis/" target="_blank">
            <span class="fa fa-linkedin"></span>
          </a>
        </li>
        <li>
          <a href="mailto:rich@richtillis.com" target="_blank">
            <span class="fa fa-envelope-o"></span>
          </a>
        </li>
        <li>
          <a href="https://github.com/richtillis/" target="_blank">
            <span class="fa fa-github"></span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/richtillis/" target="_blank">
            <span class="fa fa-twitter"></span>
          </a>
        </li>
        <li>
          <a href="https://www.stackoverflow.com/users/4577397/richtillis/" target="_blank">
            <span class="fa fa-stack-overflow"></span>
          </a>
        </li>
      </ul>
    </section>
    <section class="main-nav">
      <ul>
        <li><a href="/blog" class="nav-links">Blog</a></li>
        <li><a href="/projects" class="nav-links">Side Projects</a></li>
        <li><a href="/about" class="nav-links">About Me</a></li>
      </ul>
    </section>
    <section class="social-nav">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/richtillis/" target="_blank" class="icon">
            <span class="fa fa-linkedin"></span>
          </a>
        </li>
        <li>
          <a href="mailto:rich@richtillis.com" target="_blank" class="icon">
            <span class="fa fa-envelope-o"></span>
          </a>
        </li>
        <li>
          <a href="https://github.com/richtillis/" target="_blank" class="icon">
            <span class="fa fa-github"></span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/richtillis/" target="_blank" class="icon">
            <span class="fa fa-twitter"></span>
          </a>
        </li>
        <li>
          <a href="https://www.stackoverflow.com/users/4577397/richtillis/" target="_blank" class="icon">
            <span class="fa fa-stack-overflow"></span>
          </a>
        </li>
      </ul>
    </section>
  </div>
</nav>
