<!-- <app-header></app-header> -->
<section>
  <div class="hero-image">
    <div class="hero-text">
      <h1>About Me</h1>
    </div>
  </div>

  <div class="container">
    <div class="content-container">
      <div class="content">

        <div class="bio-resume-container">          
          <div class="bio">
            <p>
              I'm a software engineer and have been in the industry for more than 14 years. Currently I'm developing at
              <a href="https://www.learninga-z.com/" target="_blank">Learning A-Z</a>
              as a Senior Software Engineer. I hold a Master's Degree in Software Engineering from <a
                href="https://www.asu.edu/" target="_blank">Arizona State University</a>.
            </p>
            <!-- <div class="profile-pic-container">
            <img src="../../../assets/images/Tk.jpg" class="profile-pic">
          </div> -->
          </div>
          <div class="resume-container">
            <a href="../../../assets/RichTillis_Sr-Sw-Eng(Resume).pdf" target="_blank" rel="noopener noreferrer" >
              <img src="../../../assets/images/pdf-icon.png" alt="pdf icon" />
            </a>
            <p class="resume-text">Resume</p>
          </div>
        </div>

        <!-- <div >   -->
        <section>
          <h2>Career Summary</h2>
          <p>Early days in my career involved Java and Oracle database development. Middle stint, while still in Java &
            DB development, focused more on middle and frontend dev. My current job involves equal parts backend,
            middleware, and frontend dev, working primarily with Java, PHP, JavaScript (AngularJS), and MySQL. When I'm
            not at work I'm building with JavaScript frameworks, specifically Angular and Ionic.</p>
        </section>
        <section class="education">
          <h2>Education</h2>
          <p>Master of Science, Software Engineering (2014), Arizona State University</p>
          <p>Bachelor of Science, Information Technlogy (2005), University of Phoenix</p>
        </section>
        <section class="technical-proficiencies">
          <h2>Technical Proficiencies </h2>
          <h3>Languages</h3>
          <p>
            Java, JavaScript, PHP, SQL, TypeScript, JSP, PL-SQL, TSQL
          </p>
          <h3>Frameworks</h3>
          <p>Angular, Ionic, AngularJS, Spring, Eclipse BIRT

          </p>
          <h3>Databases</h3>
          <p>
            MySQL, Oracle 10g-12c, MS SQL, Firebase,
          </p>
          <h3>Servers / Platforms</h3>
          <p>
            Apache HTTP, Node.js, Tomcat, JBoss Wildfly,
          </p>
          <h3>Version Control</h3>
          <p>
            Git, CVS, SVN
          </p>
        </section>
        <section>
          <h2>Side Projects</h2>
          <p>In my spare time I like to explore technologies outside of my work frameworks. Check out my <a
              href="/projects">Projects</a> page for info on what I've been into lately.</p>
        </section>
        <section class='career'>
          <h2>Career Progression</h2>

          <h3>Senior Software Engineer</h3>
          <h4>Learning A-Z</h4>
          <p><i>2018 - Present</i></p>

          <h3>Software Engineer</h3>
          <h4>Learning A-Z</h4>
          <p><i>2015 - 2018</i></p>

          <h3>Senior Software Engineer</h3>
          <h4>Raytheon Company</h4>
          <p><i>2010 - 2015</i></p>

          <h3>Software Engineer</h3>
          <h4>Raytheon Company</h4>
          <p><i>2008 - 2009</i></p>

          <h3>IT Project Manager</h3>
          <h4>Raytheon Company</h4>
          <p><i>2006 - 2008</i></p>

          <h3>Contract Negotiator</h3>
          <h4>Raytheon Company</h4>
          <p><i>2004 - 2006</i></p>

          <h3>IT Support</h3>
          <h4>Raytheon Company</h4>
          <p><i>2002 - 2004</i></p>

          Find more career info on my <a href='https://www.linkedin.com/in/richtillis/' target="_blank" rel="noopener"
            aria-label="(opens in new window) link to the LinkedIn richtillis site">LinkedIn</a>
          profile.

        </section>
        
        <!-- </div> -->

        <section>

        </section>
      </div>

    </div>
  </div>

</section>
