<section>
  <div class="about-section">
    <div class="about-left">
      <img src="https://res.cloudinary.com/dq8wrsecq/image/upload/v1613875831/headshot_jx4j7s.jpg" class="profile-pic"
        alt="profile pic">
      <h2>Hi. I'm Rich, <br>a software engineer.</h2>
    </div>
    <div class="about-right">
      <p>I've been in and around software development for 15 years. I have a Master's degree in Software Engineering and
        I'm currently a Senior Software Engineer developing web-based reading and literacy resources for elementary school 
        teachers and students.
      </p>
      <p>I enjoy creating solutions that address interesting and complex challenges. I'm always excited
        for opportunities to teach, mentor, and share my experiences developing software.</p>
      <div class="more">
        <a href="/about">More About Me</a>
      </div>
    </div>
  </div>

</section>
