<!-- <app-header></app-header> -->
<section>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Projects</h1>
    </div>
  </div>

  <div class="content-container">
    <div class="projects-intro">
      <p>In my work day-to-day I develop in a generally typical LAMP stack mixed with Java and AngularJS. In my spare
        time I like to explore other technologies I find interesting. My learning rarely turns into real projects.
        Not that I expect them to, nor do I mind, but my Github does kinda remind me of a source code salvage yard.
        But like a salvage yard if you look around there are a some cool things laying around. That's what this page
        is for.</p>
    </div>
    <div class="card-container">

      <div class="card">
        <div class="card-image">
          <img src="https://res.cloudinary.com/dq8wrsecq/image/upload/v1613780531/rsl_wo0krs.jpg" alt="RSL logo">
        </div>
        <div class="card-title">
          <h1>RSL-AZ Soccer App</h1>
        </div>
        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <!-- <a href="#" target="_blank" class="icon"> -->
                <a href="https://apps.apple.com/us/app/rsl-az-southern-arizona/id1448128953" target="_blank"
                  class="icon" aria-label="(opens in new window) link to the RSL app on the Google Play app store"
                  rel="noopener">
                  <fa-icon [icon]="['fab', 'app-store-ios']"></fa-icon>
                </a>
              </li>
              <li>
                <a href="https://play.google.com/store/apps/details?id=com.rslazsoccer.app" target="_blank"
                  rel="noopener" aria-label="(opens in new window) link to the RSL app on the Google Play app store"
                  class="icon">
                  <fa-icon [icon]="['fab', 'google-play']"></fa-icon>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/rsl-az-soccer" target="_blank" class="icon" rel="noopener"
                  aria-label="(opens in new window) link to the Github repo for the RSL app project">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>Check it out in the app stores! It allows users to stay
            up to date with all things going on with the club. Facebook and email
            authentication, Google Maps integration, and Firebase Cloud Messaging.</p>

          <ul class="button-container">
            <li class="button">Ionic 4</li>
            <li class="button">Angular 8</li>
            <li class="button">Firebase </li>
            <li class="button">Google API</li>
            <li class="button">Android</li>
            <li class="button">iOS</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://res.cloudinary.com/dq8wrsecq/image/upload/v1613780797/gsd_k49fpp.jpg" alt="GSD logo">
        </div>
        <div class="card-title">
          <h1>GSD Todo App</h1>
        </div>
        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://play.google.com/store/apps/details?id=io.tillis.gsd" target="_blank" class="icon"
                  rel="noopener" aria-label="(opens in new window) link to GSD app on the Google Play app store">
                  <fa-icon [icon]="['fab', 'google-play']"></fa-icon>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/gsd-todo-app" target="_blank" class="icon" rel="noopener"
                  aria-label="(opens in new window) link to the Github repo for the GSD app project">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>In the Google Play store. A simple Todo app.
            I know, I know... a panda dies everytime a todo app is created :-( but this
            project helps me work with Ionic components as well as test out JavaScript patterns
            and frameworks.</p>

          <ul class="button-container">
            <li class="button">Ionic 4</li>
            <li class="button">Angular 7</li>
            <li class="button">Android</li>
          </ul>
        </div>
      </div>


      <div class="card">
        <div class="card-image">
          <img src="https://res.cloudinary.com/dq8wrsecq/image/upload/v1619025900/headshot-funny_ws7b8u_ag2wwq.jpg"
            alt="profile pic">
        </div>

        <div class="card-title">
          <h1>RichTillis.com</h1>
        </div>

        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://www.richtillis.com/" target="_blank" class="icon" rel="noopener"
                  aria-label="(opens in new window) link to the richtillis.com website">
                  <span class="fa fa-chrome"></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/scully-richtillis-portfolio" target="_blank" class="icon"
                  rel="noopener" aria-label="(opens in new window) link to the Github repo for the richtillis project">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>Playing around with SSGs to build this site. Started with Hugo, moved to GatsbyJS. Current
            version is using Scully, the new Angular SSG. Built from the ground up. A real test for me to better
            grasp CSS, layouts, and styling</p>

          <ul class="button-container">
            <li class="button">Angular 11</li>
            <li class="button">Scully</li>
            <li class="button">Netlify</li>
            <li class="button">JAMStack</li>
            <li class="button">CI/CD</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://res.cloudinary.com/dq8wrsecq/image/upload/v1613875349/kel_rpiwcc.jpg" alt="profile pic">
        </div>

        <div class="card-title">
          <h1>KelliFrazier.com</h1>
        </div>

        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://www.kellifrazier.com/" target="_blank" class="icon" rel="noopener"
                  aria-label="(opens in new window) link to the kellifrazier.com website">
                  <span class="fa fa-chrome"></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/kellifrazier-portfolio" target="_blank" class="icon"
                  rel="noopener"
                  aria-label="(opens in new window) link to the Github repo for the kellifrazier project">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>Found an awesome open source GatsbyJS template from <a href="https://html5up.net/" target="_blank"
              rel="noopener">HTML5
              UP</a>. A cool opportunity to explore React, GatsbyJS, and Netlify</p>

          <ul class="button-container">
            <li class="button">React</li>
            <li class="button">GatsbyJS</li>
            <li class="button">Netlify</li>
            <li class="button">JAMStack</li>
            <li class="button">CI/CD</li>
          </ul>
        </div>
      </div>


      <div class="card">
        <div class="card-image">
          <img src="https://res.cloudinary.com/dq8wrsecq/image/upload/v1613875397/family-footprints_d9vclf.jpg"
            alt="profile pic">
        </div>

        <div class="card-title">
          <h1>Family Footprints AZ, LLC</h1>
        </div>

        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://www.familyfootprintsaz.com/" target="_blank" class="icon" rel="noopener"
                  aria-label="(opens in new window) link to the familyfootprintsaz.com website">
                  <span class="fa fa-chrome"></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/familyfootprintsaz" target="_blank" class="icon" rel="noopener"
                  aria-label="(opens in new window) link to the Github repo for the familyfootprintsaz.com project">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>This project was one of a couple where I looked into AWS to handle my static site management. It was super
            early in my
            frontend dev and I knew better than to try and build some thing from the ground up. Found a template on
            themeforest
            and adjusted it to what we needed</p>

          <ul class="button-container">
            <li class="button">AWS S3</li>
            <li class="button">AWS CloudFront</li>
          </ul>
        </div>
      </div>


      <div class="card">
        <div class="card-image">
          <img src="https://res.cloudinary.com/dq8wrsecq/image/upload/v1613875439/samsar_fsmntu.jpg" alt="profile pic">
        </div>

        <div class="card-title">
          <h1>Southern Arizona Search & Rescue </h1>
        </div>

        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://github.com/RichTillis/samsar" target="_blank" class="icon" rel="noopener"
                  aria-label="(opens in new window) link to the Github repo for the samsaraz.org project">
                  <span class="fa fa-chrome"></span>
                </a>
              </li>
              <li>
                <a href="https://www.samsaraz.org/" target="_blank" class="icon" rel="noopener"
                  aria-label="(opens in new window) link to the samsaraz.org website">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>The other project where I looked into AWS to handle my static site management. It was super early in my
            frontend dev and I knew better than to try and build some thing from the ground up. Found a template on
            themeforest
            and adjusted it to what we needed</p>

          <ul class="button-container">
            <li class="button">AWS S3</li>
            <li class="button">AWS CloudFront</li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</section>
