<app-header></app-header>
<section>
    <div class="hero-image">
        <div class="hero-text">
            <h1>About Me</h1>
        </div>
    </div>

    <div class="content-container">
        <div class="about-left">
            <!-- <img src="../../../assets/images/Tk.jpg" class="profile-pic"> -->
        </div>
        <div class="about-right">
            <div class="about-intro">
                <p>Talking about myself sounds like nails on a clalk board but thats what this page is all about,
                    &lt;sigh/&gt;. Ok, fine, let's see how this goes....</p>
                <p>
                    I'm a software engineer. I've been in the industry for more than 14 years. I hold a Master's Degree
                    in Software Engineering.
                    Early days in my career involved Java and Oracle database development. Middle stint, while still in
                    Java & DB developemnt, focussed more on middle and frontend dev.
                    Currently stretch involves equal parts backend, middleware, and frontend dev. Working primarily with
                    Java, PHP, JavaScript (AngularJS), and MySQL. When I'm not at work I'm
                    realliy enjoying and building with JavaScript frameworks, specifically Angular and Ionic.
                </p>
                <!-- <p>I locked in with the idea of building software, as a real life goal, probably about on or about the
                    day I found the lyrics to TOOL's entire Undertow album on the net and brought them to high school.
                    I was the coolest kid for a day ... well, with my friends anyway. Oh, and by the way, to add a
                    little historical context, my web connection involved AOL :-) Not shockingly (otherwise this site
                    wouldn't exist), a bit has happened since then.
                </p>
                <p>

                </p> -->
            </div>
        </div>
    </div>

</section>