<app-header></app-header>
<section>
  <div class="hero-image">
    <div class="hero-text">
      <h1>About Me</h1>
    </div>
  </div>

  <div class="container">
    <div class="content-container">
      <div class="intro">
        <p>Not the biggest fan of talking about myself but thats what this page is all about. Let's see how this
          goes....</p>
      </div>
      
      <div class="summary bio">
        <p>
          I'm a software engineer. I've been in the industry for more than 14 years. I'm currently a Senior Software
          Engineer at <a href="https://www.learninga-z.com/" target="_blank">Learning A-Z</a>. I hold a Master's Degree
          in Software Engineering from <a href="https://www.asu.edu/" target="_blank">ASU</a>.
        </p>    
      </div>
      <div class="summary career">  
        <p>Early days in my career involved Java and Oracle database development. Middle stint, while still in Java & DB
            development, focused more on middle and frontend dev. My current job involves equal parts backend, middleware,
            and frontend dev, working primarily with Java, PHP, JavaScript (AngularJS), and MySQL. When I'm not at work
            I'm building with JavaScript frameworks, specifically Angular and Ionic.</p>
      </div>
      <div class="profile-pic-container">
        <img src="../../../assets/images/Tk.jpg" class="profile-pic">
      </div>
    </div>
  </div>

</section>
