<section>
  <div *ngIf="$blogPostMetadata | async as blogPost">
    <div class="hero-image" [ngStyle]="{'background-image': backgroundImage}">
      <div class="title">
        <h1>{{blogPost.title}}</h1>
      </div>
    </div>
    <div class="content-container">
      <div class="blog-body">
        <div class="image-credit">
          <span>Photo by 
            <a [href]=blogPost.heroImgCreatorUrl target="_blank" rel="noopener" aria-label="photographer link">{{blogPost.heroImgCreatorName}}</a> 
            on 
            <a [href]=blogPost.heroImgSourceUrl target="_blank" rel="noopener" aria-label="media source link">{{blogPost.heroImgSource}}</a>
          </span>
        </div>
        <p class="author">Author: {{blogPost.authorName }}</p>
        <p class="publish-date">Published on {{blogPost.publishDate | date: 'longDate'}}</p>
        <p class="publish-date">Last Revised on {{blogPost.latestRevision | date: 'longDate'}}</p>
        <scully-content></scully-content>
        <hr>
        <disqus [identifier]="postId"></disqus>
      </div>
    </div>
  </div>
</section>
