<section>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Blog</h1>
    </div>
  </div>

  <div class="content-container">
    <!-- <div class="blog-intro">
      <p>Initial post in the works. Stay tuned!</p>
    </div> -->

    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h1>Image Cropping & Compression in an Ionic Angular app</h1>
        </div>
        <div class="date-and-author">
          First Published: 5/29/2020 
          Last Updated: 5/29/2020
        </div>
      </div>

      <div class="card-body">
        <div class="blog-abstract">
          <p>This is the abstract</p>
        </div>

        <div class="blog-tags">
          <ul class="button-container">
            <li class="button">Ionic</li>
            <li class="button">Angular</li>
          </ul>
        </div>

        <div class="more">
          <a href="/projects">All my projects</a>
        </div>

      </div>
    </div>
  </div>
</section>
