<app-header></app-header>
<div class="header-spacer"></div>
<section id="about">
  <div class="about-section">
    <div class="about-child">
      <img src="../../../assets/images/headshot.jpg" class="profile-pic">
      <h2>I'm Rich, a software engineer.</h2>
    </div>
    <div class="about-child about-bio">
      <p>Hello World.</p>
      <p>I’m a fullstack software developer.</p>
      <p>Always building. Always learning.</p>
    </div>
  </div>
</section>
<section id="blog"></section>
<section id="projects"></section>
