<app-header></app-header>
<section>
  <div class="hero-image">
    <div class="hero-text">
      <h1>My Projects</h1>
    </div>
  </div>

  <div class="content-container">
    <p>Intro blurb here.</p>
    <div class="card-container">

      <div class="card">
        <div class="card-image">
          <img src="../../../assets/images/rsl.png" alt="RSL logo">
        </div>
        <div class="card-title">
          <h1>RSL-AZ Soccer App</h1>
        </div>
        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <!-- <a href="#" target="_blank" class="icon"> -->
                <a class="icon">
                  <fa-icon [icon]="['fab', 'app-store-ios']"></fa-icon>
                </a>
              </li>
              <li>
                <a href="https://play.google.com/store/apps/details?id=com.rslazsoccer.app" target="_blank"
                  class="icon">
                  <fa-icon [icon]="['fab', 'google-play']"></fa-icon>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/rsl-az-soccer" target="_blank" class="icon">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>Check it out in the app stores! It allows users to stay
            up to date with all things going on with the club. Facebook and email
            authentication, Google Maps integration, and Firebase Cloud Messaging.</p>

          <ul class="button-container">
            <li class="button">Ionic 4</li>
            <li class="button">Angular 8</li>
            <li class="button">Firebase </li>
            <li class="button">Google API</li>
            <li class="button">Android</li>
            <li class="button">iOS</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="../../../assets/images/gsd.png" alt="GSD logo">
        </div>
        <div class="card-title">
          <h1>GSD Todo App</h1>
        </div>
        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://play.google.com/store/apps/details?id=io.tillis.gsd" target="_blank" class="icon">
                  <fa-icon [icon]="['fab', 'google-play']"></fa-icon>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/gsd-todo-app" target="_blank" class="icon">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>In the Google Play store. A simple Todo app.
            I know, I know... a panda dies everytime a todo app is created :-( but this
            project helps me work with Ionic components as well as test out JavaScript patterns
            and frameworks.</p>

          <ul class="button-container">
            <li class="button">Ionic 4</li>
            <li class="button">Angular 7</li>
            <li class="button">Android</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="../../../assets/images/headshot.jpg" alt="profile pic">
        </div>

        <div class="card-title">
          <h1>RichTillis.com</h1>
        </div>

        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://www.richtillis.com/" target="_blank" class="icon">
                  <span class="fa fa-chrome"></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/scully-richtillis-portfolio" target="_blank" class="icon">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>Playing around with Sculy, the new Angular static site generator, to build my portfolio site. Built from
            the
            ground up. A real test for me to better understand CSS, layouts, and styling</p>

          <ul class="button-container">
            <li class="button">Angular 9</li>
            <li class="button">Scully</li>
            <li class="button">Netlify</li>
            <li class="button">JAMStack</li>
            <li class="button">CI/CD</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="../../../assets/images/headshot.jpg" alt="profile pic">
        </div>

        <div class="card-title">
          <h1>KelliFrazier.com</h1>
        </div>

        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://www.kellifrazier.com/" target="_blank" class="icon">
                  <span class="fa fa-chrome"></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/kellifrazier-portfolio" target="_blank" class="icon">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>Portfolio site for a friend. An opportunity to explore React and GatsbyJS</p>

          <ul class="button-container">
            <li class="button">React</li>
            <li class="button">GatsbyJS</li>
            <li class="button">Netlify</li>
            <li class="button">JAMStack</li>
            <li class="button">CI/CD</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="../../../assets/images/family-footprints.png" alt="profile pic">
        </div>

        <div class="card-title">
          <h1>Family Footprints AZ, LLC</h1>
        </div>

        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://www.familyfootprintsaz.com/" target="_blank" class="icon">
                  <span class="fa fa-chrome"></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/RichTillis/familyfootprintsaz" target="_blank" class="icon">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>Portfolio site for a friend. An opportunity to explore React and GatsbyJS</p>

          <ul class="button-container">
            <li class="button">React</li>
            <li class="button">GatsbyJS</li>
            <li class="button">Netlify</li>
            <li class="button">JAMStack</li>
            <li class="button">CI/CD</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="../../../assets/images/samsar.jpg" alt="profile pic">
        </div>

        <div class="card-title">
          <h1>SAMSAR - Southern Arizona Search & Rescue </h1>
        </div>

        <div class="card-body">
          <div class=social-links>
            <ul>
              <li>
                <a href="https://github.com/RichTillis/samsar" target="_blank" class="icon">
                  <span class="fa fa-chrome"></span>
                </a>
              </li>
              <li>
                <a href="https://www.samsaraz.org/" target="_blank" class="icon">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
            </ul>
          </div>

          <p>SAMSAR is an all volunteer, non-profit mounted search and rescue unit serving the Pima County community</p>

          <ul class="button-container">
            <li class="button">Amazon AWS</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>