section {
  margin-top: 50px;
  top: 0px;
  left: 0px;
  right: 0px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url("src/assets/images/projects-index-background.jpg");
  // background: url("src/assets/images/projects-index-background.jpg");
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  color: white;
  font-size: 24px;
}

.content-container {
  max-width: 1080px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  flex-flow: row wrap;
}

.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  color: black;

  h1 {
    margin: 0;
  }
}

.card-image {
  height: 250px;
}

img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 25px;
}

.social-links ul {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
  padding-left: 0;

  li {
    padding-left: 15px;
  }

  li:first-child {
    padding-left: 0;
  }

  a {
    color: #006699;
    text-decoration: none;
  }
}

.card-body p {
  margin-top: 0;
}

.icon {
  font-size: 24px;
}

.button-container {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-end;
}

.button-container {
  li {
    margin: 0 0 5px 5px;
  }

  li:first-child {
    margin: 0 0 5px 0;
  }
}

.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#3e779d),
      to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  padding: 3px 6px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .hero-image {
    min-height: 300px;
  }

  .hero-text {
    font-size: 36px;
  }

  .content-container {
    padding-bottom: 50px;
  }

  .card-container {
    max-width: 960px;
  }

  .card{
    flex-basis: 25%;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}
