<div class="card">
    <div class="card-image">
        <!-- input -->
        <img src="../../../assets/images/rsl.png" alt="RSL logo">
    </div>
    <div class="card-title">
        <!-- input -->
        <h1>RSL-AZ Soccer App</h1>
    </div>
    <div class="card-body">
        <div class=social-links>
            <ul>
                <!-- These are an input array-->
                <li>
                    <!-- <a href="#" target="_blank" class="icon"> -->
                    <a class="icon">
                        <fa-icon [icon]="['fab', 'app-store-ios']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.rslazsoccer.app" target="_blank"
                        class="icon">
                        <fa-icon [icon]="['fab', 'google-play']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/RichTillis/rsl-az-soccer" target="_blank" class="icon">
                        <fa-icon [icon]="['fab', 'github']"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>

        <p>Check it out in the app stores! It allows users to stay
            up to date with all things going on with the club. Facebook and email
            authentication, Google Maps integration, and Firebase Cloud Messaging.</p>

        <ul class="button-container">
            <!-- These are an input array-->
            <li class="button">Ionic 4</li>
            <li class="button">Angular 8</li>
            <li class="button">Firebase </li>
            <li class="button">Google API</li>
            <li class="button">Android</li>
            <li class="button">iOS</li>
        </ul>
    </div>
</div>