<section>
  <div class="about-section">
    <div class="about-left">
      <img src="../../../assets/images/headshot.jpg" class="profile-pic">
      <h2>Hi. I'm Rich, <br>a software engineer.</h2>
    </div>
    <div class="about-right">
      <p>I've been developing software and enhancing operations across enterprises for over 14 years. I
        design solutions that align end-user needs with long-term resolutions to real-world challenges. I have a
        successful track record of creating exceptional web-based software.
      </p>
      <p>Ok, ok ... humbly stepping down from my elevator-pitch soapbox... I'm just a developer who really enjoys learning and
        loves building solutions to address interesting and complex challenges.</p>
      <div class="more">
        <a href="/about">More About Me</a>
      </div>
    </div>
  </div>

</section>
