<section class="blog-section">
  <h1 class="section-header">Latest Articles</h1>

  <div class="card" *ngFor="let blog of $blogPosts | async">
    <a [routerLink]="blog.route">
      <div class="card-contents">
        <div class="blog-image">
          <img [src]="blog.image">
          <p>{{blog.imgCredit}}</p>
        </div>
        <div class="blog-description">
          <h1>
            {{blog.title}}</h1>
          <p class="publish-date">Published: {{blog.latestRevision | date: 'longDate'}}</p>
          <p class="abstract">{{blog.abstract}}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="more">
    <a href="/blog">All my articles</a>
  </div>

</section>
