<section class="blog-section">
  <h1 class="section-header">Latest Articles</h1>
  <a href="#">
    <div class="card">
      <div class="blog-header">
        <p class="author">Rich Tillis</p>
        <p class="publish-date">Apr 27, 2020 - 8 min read</p>
      </div>
      <div class="blog-title">
        <h1>My Blog Title</h1>
      </div>
      <div class="blog-body">
        <p>Today many web apps are built using React, Angular, Vue, Ember, and others</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="card">
      <div class="blog-header">
        <p class="author">Rich Tillis</p>
        <p class="publish-date">Apr 27, 2020 - 8 min read</p>
      </div>
      <div class="blog-title">
        <h1>My Blog Title</h1>
      </div>
      <div class="blog-body">
        <p>Today many web apps are built using React, Angular, Vue, Ember, and others</p>
      </div>
    </div>
  </a>
</section>
