<section class="blog-section">
  <h1 class="section-header">Latest Articles</h1>

  <div class="card">
    <a href="#">
      <div class="blog-header">
        <p class="author">Rich Tillis</p>
        <p class="publish-date">Apr 27, 2020 - 8 min read</p>
      </div>
      <div class="blog-title">
        <h1>My Blog Title</h1>
      </div>
      <div class="blog-body">
        <p>Today many web apps are built using React, Angular, Vue, Ember, and others</p>
      </div>
    </a>
  </div>

  <div class="card">
    <a href="#">
      <div class="blog-header">
        <p class="author">Rich Tillis</p>
        <p class="publish-date">Apr 27, 2020 - 8 min read</p>
      </div>
      <div class="blog-title">
        <h1>My Blog Title</h1>
      </div>
      <div class="blog-body">
        <p>Today many web apps are built using React, Angular, Vue, Ember, and others</p>
      </div>
    </a>
  </div>

  <div class="more">
    <a href="/about">All Articles</a>
  </div>

</section>
