<section class="projects-section">
  <h2 class="section-title">Recent Projects</h2>
  <div class="container">
    <div class="card">
      <a href="#" target="_self">
        <div class="card-image">
        </div>
        <div class="card-body">
          <div>
            <h3>RSL-AZ Soccer App</h3>
            <p class="card-body-content">Check it out in the app stores! It allows users to stay
              up to date with all things going on with the club. Facebook and email
              authentication, Google Maps integration, and Firebase Cloud Messaging.</p>
          </div>
          <ul class="button-container">
            <li><a class="button" href="#">Ionic 4</a></li>
            <li><a class="button" href="#">Angular 8</a></li>
            <li><a class="button" href="#">Firebase Auth</a></li>
            <li><a class="button" href="#">Google Maps</a></li>
            <li><a class="button" href="#">Messaging</a></li>
          </ul>
        </div>
      </a>
    </div>
  </div>
  <h2> All my projects ...</h2>
</section>