<section class="projects-section">
  <h1 class="section-header">Recent Projects</h1>
  <div class="card-container">

    <div class="card">
      <div class="card-image">
        <img src="../../../assets/images/rsl.png" alt="RSL logo">
      </div>
      <div class="card-title">
        <h1>RSL-AZ Soccer App</h1>
      </div>
      <div class="card-body">
        <div class=social-links>
          <ul>
            <!-- <li>
              <a href="#" target="_blank" class="icon">
                <span class="fa fa-app-store-ios"></span>
              </a>
            </li>
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.rslazsoccer.app" target="_blank" class="icon">
                <span class="fa fa-google-play"></span>
              </a>
            </li> -->
            <li>
              <a href="https://github.com/RichTillis/rsl-az-soccer" target="_blank" class="icon">
                <span class="fa fa-github"></span>
              </a>
            </li>
          </ul>
        </div>

        <p>Check it out in the app stores! It allows users to stay
          up to date with all things going on with the club. Facebook and email
          authentication, Google Maps integration, and Firebase Cloud Messaging.</p>

        <ul class="button-container">
          <li class="button">Ionic 4</li>
          <li class="button">Angular 8</li>
          <li class="button">Firebase </li>
          <li class="button">Google API</li>
          <li class="button">Android</li>
          <li class="button">iOS</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="../../../assets/images/gsd.png" alt="GSD logo">
      </div>
      <div class="card-title">
        <h1>GSD Todo App</h1>
      </div>
      <div class="card-body">
        <div class=social-links>
          <ul>
            <!-- <li>
              <a href="https://play.google.com/store/apps/details?id=io.tillis.gsd" target="_blank" class="icon">
                <span class="fa fa-google-play"></span>
              </a>
            </li> -->
            <li>
              <a href="https://github.com/RichTillis/gsd-todo-app" target="_blank" class="icon">
                <span class="fa fa-github"></span>
              </a>
            </li>
          </ul>
        </div>

        <p>In the Google Play store. A simple Todo app.
          I know, I know... a panda dies everytime a todo app is created :-( but this
          project helps me work with Ionic components as well as test out JavaScript patterns
          and frameworks.</p>

        <ul class="button-container">
          <li class="button">Ionic 4</li>
          <li class="button">Angular 7</li>
          <li class="button">Android</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="../../../assets/images/headshot.jpg" alt="profile pic">
      </div>

      <div class="card-title">
        <h1>RichTillis.com</h1>
      </div>

      <div class="card-body">
        <div class=social-links>
          <ul>
            <li>
              <a href="https://www.richtillis.com/" target="_blank" class="icon">
                <span class="fa fa-chrome"></span>
              </a>
            </li>
            <li>
              <a href="https://github.com/RichTillis/scully-richtillis-portfolio" target="_blank" class="icon">
                <span class="fa fa-github"></span>
              </a>
            </li>
          </ul>
        </div>

        <p>Playing around with Sculy, the new Angular static site generator, to build my portfolio site. Built from the
          ground up. A real test for me to better understand CSS, layouts, and styling</p>

        <ul class="button-container">
          <li class="button">Angular 9</li>
          <li class="button">Scully</li>
          <li class="button">Netlify</li>
          <li class="button">JAMStack</li>          
        </ul>
      </div>
    </div>

  </div>

  <!-- <div class="more">
    <a href="/about">All my projects</a>
  </div> -->
</section>
