* {
  box-sizing: border-box;
}

.projects-section {
  text-align: center;
  margin: 0 auto;
  max-width: 1080px;
}

.section-title {
  text-align: left;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row wrap;
}

.card {
  max-width: calc((100% - 75px)/3);
  min-width: 274px;
  width: 100%;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  background-color: transparent;
  color: #53b6d0;
  cursor: pointer;
  line-height: 1.2em;
  outline: none;
  text-decoration: none;
  // transition: background .2s ease-out,color .1s ease-out;
}

.card-image {
  // background-image: url("https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg");
  background-image: url("../../../assets/images/rsl.png");
  height: 300px;
  background-size: cover;
  background-position: 50%;
  padding: 16px;
  display: flex;
  border-radius: 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.card-body {
  max-height: 400px;
  padding: 24px 24px 0;
  box-sizing: border-box;
  position: relative;
  height: 234px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 32px 32px 0;
  overflow-y: hidden;
}

.card-body-content{

}

.card-body-content-title {
  color: #90a4ae;
  font-size: 15px;
  letter-spacing: 1.07px;
  line-height: 20px;
}
