<section class="projects-section">
  <h2 class="section-title">Recent Projects</h2>
  <div class="container">
    <div class="card">
      <a href="#" target="_self">
        <div class="card-image">
        </div>
        <div class="card-body">
          <div class="card-body-content">
            <span class="card-body-content-title">Technologies should go here as tags</span>
            <h3>hello world</h3>
            <p>my paragraph</p>
          </div>

        </div>
      </a>
    </div>
  </div>
  <h2> All my projects ...</h2>
</section>
