<a [routerLink]="blog.route">
  <div class="card">
    <div class="card-contents">
      <div class="blog-image">
        <img [src]="blog.image" [alt]="blog.imgCredit">
        <p>Photo by Markus Spiske on Unsplash</p>
      </div>
      <div class="blog-description">
        <h1>
          {{blog.title}}
        </h1>
        <p class="publish-date">Published on {{blog.latestRevision | date: 'longDate'}}</p>
        <p class="abstract">{{blog.abstract}}</p>
      </div>
    </div>
  </div>
</a>
